@import "figma-plugin-ds/scss/base/_base";

.clean-document {
  &__scope {
    padding: 16px 16px 10px;
  }

  &__input {
    margin-top: -4px;
    padding: 0 16px 10px 37px;
  }

  &__button {
    padding: 8px 16px;
  }
}
