@import "figma-plugin-ds/scss/base/_base";
@import "figma-plugin-ds/scss/base/_mixins";
@import "figma-plugin-ds/scss/base/_variables";

.clean-document {
  padding-top: 10px;

  &__button {
    padding: 6px 14px 8px;
  }

  &__input {
    margin-top: -4px;
    padding: 0 14px 10px 37px;
  }
}
