@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.empty {
  padding: 0 $space-medium;
  color: $color-black-30;
}

.preview {
  display: flex;
  padding-right: $space-medium;
  color: $color-black-30;
}

.group {
  flex-grow: 1;
  padding-left: $space-medium;
  white-space: nowrap;
}

.item strong {
  font-weight: $font-weight-regular;
  color: $color-black-80;
}
