.preview {
  position: relative;
  overflow: auto;
  height: 121px;
  padding: 16px 16px 16px 0;
  border-bottom: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg-secondary);
  cursor: default;
  user-select: none;
}
.preview:before {
  display: inline-block;
  width: 16px;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.inner {
  display: inline-block;
  width: 208px;
  vertical-align: middle;
}

.empty {
  color: var(--figma-color-text-secondary);
}

.item {
  width: 208px;
}

.original,
.result {
  display: inline-block;
  overflow: hidden;
  width: 104px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.original {
  padding-right: 8px;
  color: var(--figma-color-text-secondary);
}
.strikethrough {
  text-decoration: line-through;
}
