@import "figma-plugin-ds/scss/base/_mixins";
@import "figma-plugin-ds/scss/base/_variables";

.set-api-key {
  &__description {
    @include font-ui-pos("small", "normal");
    user-select: none;
    cursor: default;
    padding: 12px 14px 0;
    color: $figma-black;

    a {
      @include font-ui-pos("small", "medium");
      text-decoration: none;
      color: $figma-blue;
    }
  }

  &__input {
    padding: 8px 14px 0;
  }

  &__button {
    padding: 8px 14px;
  }
}
