@import '@create-figma-plugin/ui/lib/scss/constants';
@import '@create-figma-plugin/ui/lib/scss/text';

.languages {
  height: 306px;
  overflow: auto;
}

.button {
  border-top: 1px solid $color-black-10;
  padding: $space-small $space-medium;
}
