@import "@create-figma-plugin/ui/src/components/_constants";
@import "@create-figma-plugin/ui/src/components/_text";

.languageItem {
  // reset
  box-sizing: border-box;

  @include text-11-regular;
  user-select: none;
  position: relative;
  padding: 8px 16px;

  &:hover {
    background-color: $color-selection-b;
  }
}

.isActive {
  background-color: $color-selection-b;
}

.icon {
  position: absolute;
  right: 12px;
  top: 8px;
  width: 16px;
  height: 16px;
  fill: $color-blue;
}
