@import 'figma-plugin-ds/scss/base/_mixins';
@import 'figma-plugin-ds/scss/base/_variables';

.language-item {
	user-select: none;
	cursor: default;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid transparent;
  height: 32px;
  &:hover {
    background-color: $figma-selection-b;
  }
  &--active {
    background-color: $figma-selection-b;
  }
}

.language-item__text {
  @include font-ui-pos('small','normal');
  flex-grow: 1;
  padding-left: 14px;
}

.language-item__icon {
  padding-right: 4px;
}
