.languageItem {
  position: relative;
  padding: var(--space-extra-small) var(--space-medium);
  cursor: default;
  user-select: none;
}
.languageItem:not(.selected):not(.disabled):hover {
  background-color: var(--figma-color-bg-hover);
}

.selected {
  background-color: var(--figma-color-bg-selected);
}

.disabled {
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
}

.icon {
  position: absolute;
  top: 0;
  right: 4px;
}

.loadingIndicator {
  position: absolute;
  top: var(--space-extra-small);
  right: var(--space-small);
}
