@import '@create-figma-plugin/ui/lib/scss/constants';
@import '@create-figma-plugin/ui/lib/scss/text';

.languageItem {
  // reset
  box-sizing: border-box;

  @include text-11-regular;
  user-select: none;
  cursor: default;
  position: relative;
  padding: $space-extra-small $space-medium;

  &:hover {
    background-color: $color-selection-b;
  }
}

.isActive {
  background-color: $color-selection-b;
}

.spinner {
  animation: rotating 0.5s linear infinite;
}

.icon,
.spinner {
  position: absolute;
  right: $space-small;
  top: $space-extra-small;
  width: 16px;
  height: 16px;
  fill: $color-blue;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
