@import "@create-figma-plugin/ui/src/components/_constants";
@import "@create-figma-plugin/ui/src/components/_text";

.languages {
  height: 210px;
  overflow: auto;
}

.button {
  border-top: 1px solid $color-black-1;
  padding: 12px 16px;
}
