@import "figma-plugin-ds/scss/base/_base";
@import "figma-plugin-ds/scss/base/_mixins";
@import "figma-plugin-ds/scss/base/_variables";
@import "figma-plugin-ds/scss/components/_icon";
@import "figma-plugin-ds/scss/icons/_group";

.draw-slice-over-selection {
  &__description {
    @include font-ui-pos("small", "normal");
    user-select: none;
    cursor: default;
    padding: 12px 14px 0;
    color: $figma-black;
  }

  &__input {
    padding: 8px 14px 0;
  }

  &__button {
    padding: 8px 14px;
  }
}
