@import "figma-plugin-ds/scss/base/_mixins";
@import "figma-plugin-ds/scss/base/_variables";
@import "figma-plugin-ds/scss/components/_checkbox";

.checkbox {
  height: auto;

  &__label {
    padding: 8px 0;
    min-height: 32px;

    &:before {
      flex: 0 0 10px;
      margin-left: 15px;
    }
  }

  &__description {
    @include font-ui-pos("small", "normal");
    padding: 4px 16px 0 0;
    color: $figma-black-3;
  }
}
