@import "figma-plugin-ds/scss/base/_mixins";
@import "figma-plugin-ds/scss/base/_variables";

.segmented-control {
  @include font-ui-pos("small", "normal");
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;

  &__item {
    flex-grow: 1;
  }

  &__input {
    display: none;
  }

  &__label {
    display: block;
    border: 1px solid $figma-blue;
    border-left-width: 0;
    padding: 8px;
    text-align: center;
    color: $figma-blue;
  }
  &__item:first-child &__label {
    border-left-width: 1px;
    border-radius: $border-radius-med 0 0 $border-radius-med;
  }
  &__item:last-child &__label {
    border-radius: 0 $border-radius-med $border-radius-med 0;
  }
  &__input:checked + &__label {
    color: $figma-white;
    background-color: $figma-blue;
  }
}
