@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.preview {
  @include text-11-regular;
  cursor: default;
  user-select: none;
  position: relative;
  height: 121px;
  padding: 16px 16px 16px 0;
  overflow: auto;
  background-color: #f7f7f7;
  border-bottom: 1px solid $color-silver;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 16px;
    vertical-align: middle;
  }
}

.inner {
  display: inline-block;
  vertical-align: middle;
  width: 208px;
}

.empty {
  color: $color-black-30;
}

.item {
  width: 208px;
}

.original,
.result {
  width: 104px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.original {
  padding-right: 8px;
  color: $color-black-30;

  &.strikethrough {
    text-decoration: line-through;
  }
}
