.empty {
  padding: 0 var(--space-medium);
  color: var(--figma-color-text-secondary);
}

.preview {
  display: flex;
  color: var(--figma-color-text-secondary);
}

.group {
  flex-grow: 1;
  padding-left: var(--space-medium);
  white-space: nowrap;
}
.group:last-child {
  padding-right: var(--space-medium);
}

.groupName {
  color: var(--figma-color-text);
  font-weight: var(--font-weight-regular);
}
