@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.label {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 16px;
  height: 32px;
  color: $color-black-80;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $color-selection-b;
  }
}

.isDisabled {
  cursor: not-allowed;
  opacity: $opacity-30;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.isChecked,
.isChecked:hover {
  background-color: $color-selection-a;
}

.input {
  display: none;
}

.text {
  @include text-11-regular;
  pointer-events: none;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
