.attributes,
.emptyState {
  height: 338px;
}

.attributes {
  overflow: auto;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--space-medium);
  overflow-wrap: break-word;
}
