.wrapper {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 var(--space-small);
}

.search {
  flex-grow: 1;
}

.checkAllToggle {
  flex: 0 0 76px;
  padding: var(--space-medium) 0;
  color: var(--figma-color-text-secondary);
  text-align: right;
}
.checkAllToggle:hover {
  color: var(--figma-color-text);
}

.checkAllToggle input {
  display: none;
}
