.wrapper {
  display: flex;
  align-items: center;
}

.search {
  flex-grow: 1;
}

.checkAllToggle {
  flex: 0 0 auto;
  padding: var(--space-small) var(--space-medium);
  color: var(--figma-color-text-secondary);
}
.checkAllToggle:hover {
  color: var(--figma-color-text);
}

.checkAllToggle input {
  display: none;
}
