@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  height: 240px;
  color: $color-black-80;
}

.icon,
.loadingIndicator {
  margin: 0 auto $space-extra-small;
  width: 16px;
  height: 16px;
}

.loadingIndicator {
  color: $color-blue;
}

.input {
  display: none;
}
