@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.emptyState,
.layers {
  height: 272px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  padding: 0 $space-medium;
  justify-content: center;
  overflow-wrap: break-word;
}
