@import "@create-figma-plugin/ui/lib/scss/constants";
@import "@create-figma-plugin/ui/lib/scss/text";

.wrapper {
  display: flex;
  align-items: center;
}

.search {
  flex-grow: 1;
}

.checkToggle {
  @include text-11-regular;
  flex: 0 0 auto;
  padding: $space-small $space-medium;
  color: $color-black-30;

  &:hover {
    color: $color-black-80;
  }

  input {
    display: none;
  }
}
