.emptyState,
.nodes {
  height: 272px;
}

.nodes {
  position: relative;
  overflow-y: auto;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-medium);
  overflow-wrap: break-word;
}
