@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.preview {
  display: flex;
  padding-right: 16px;
}

.group {
  flex-grow: 1;
  padding-left: 16px;
}

.item {
  color: $color-black-3;

  strong {
    color: $color-black-8;
    font-weight: $font-weight-regular;
  }
}
